<div class="row">
    <div class="col-md-1 mb-md">
        <a href="/admin/seasons/create" class="btn btn-primary">Create new season</a>
    </div>
</div>

<div class="row table-responsive">
  <table class="table table-striped">
  <% seasons.forEach(function (season) { %>
    <tr>
      <td><a href="/admin/seasons/edit/<%= season.id %>"><%= season.title %></a></td>
      <td><a class="btn btn-danger">Delete</a></td>
    </div>
  <% }) %>
  </table>
</div>
